@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&family=Quicksand:wght@300;400;500&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: rgb(26, 28, 34);
    color: #ffffff70;
    height: calc(100vh - 1px);
    display: flex;
    align-items: center;
}

.container {
    max-width: 50rem;
}

.warning {
    font-size: 2.5rem;
}

.pink {
    color: #a405a4;
}

.red {
    color: #8c0606;
}

.orange {
    color: #943806;
}

p {
    font-size: 22px;
    letter-spacing: .25rem;
    margin: 0;
}

h1 {
    font: bold 20rem "Kanit", sans-serif;
    letter-spacing: 2rem;
    margin: 0 10rem 0 10rem;
}

.error-pink {
    background: linear-gradient(180deg, rgb(34, 36, 42) 45%, #6f006f83 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 100px rgba(0, 0, 0, .5);
}

.error-red {
    background: linear-gradient(180deg, rgb(34, 36, 42) 45%, #6f000083 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 100px rgba(0, 0, 0, .5);
}

.error-orange {
    background: linear-gradient(180deg, rgb(34, 36, 42) 45%, #c6450483 100%);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 100px rgba(0, 0, 0, .5);
}

a {
    color: #ffffff70;
}

a:hover {
    color: #ffffffc2;
}