@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&family=Quicksand:wght@300;400;500&family=Rubik+Doodle+Shadow&display=swap');

body {
  font-family: "Quicksand", serif;
  background-image: url("bg/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #cfcfcf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
}

.bg-gradient {
  background-image: url("bg/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
}

.site-header .navbar-brand {
  font-family: "Rubik Doodle Shadow", serif;
  font-size: 30px;
  color: #ffffff;
}

.site-header .navbar-nav .nav-link {
  font-weight: 500;
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.row {
  padding-top: 6rem;
}

.content-section {
  background-color: rgba(41, 41, 41, 0.25);
  backdrop-filter: blur(15px);
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 30%);
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-title {
  font-family: "Outfit", serif;
  color: #ffffff;;
  font-weight: 300;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  color: #cfcfcf;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #9a9a9a;
}

.article-metadata a:hover {
  text-decoration: none;
}

.list-group-item {
  background-color: rgba(10, 10, 10, 0.25);
  border: solid 1px #8080809e;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.profile-img {
  height: 40px;
  width: 40px;
}

.btn {
  padding-bottom: 7px;
}

.the-img {
  display: block;
}

.the-text {
  display: none;
}

@media (max-width: 768px) {
  .bg-gradient {
    background: rgba(0, 0, 0, .9);
  }

  .nav-link{
    display: flex;
    justify-content: center;
    width: 100%;
    border: solid #ffffff50;
    border-width: 1px 0;
  }

  .navbar-nav:first-child .nav-link:first-child {
    border-top: 0;
  }

  .navbar-nav:last-child .nav-link:last-child {
    border-bottom: 0;
  }

  .the-img {
    display: none;
  }

  .the-text {
    display: flex;
  }
}